.spacer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #666;
}

.reveal-paragraph {
  font-size: 2rem;
  max-width: 800px;
  margin: 0 auto;
  letter-spacing: 0.01em;
  color: rgba(239, 233, 233, 0.15);
  padding: 200px 20px; /* extra padding for scroll effect */
}

:global(.char) {
  display: inline-block;
  color: rgba(216, 207, 207, 0.15);
  transition: color 0.2s linear;
}

/* Icon default */
.icon {
  display: inline-block;
  margin-left: 10px;
  font-size: 2rem;
  transform: scale(1);
  transition: transform 0.3s ease, color 0.3s linear;
  color: rgba(0, 0, 0, 0.15);
}